.carousel-caption {
  top: 50%;
}
.carousel-item > img {
  min-height: 400px;
  max-height: 20rem;
  object-fit: cover;
}
#fellows > h2,p{
  text-align:center;
}
.card-img-top {
  object-fit: cover;
  opacity: 0.7;
}
.card-img-overlay > h2 {
  padding-top: 45%;
}
.card-img-overlay > h4 {
  opacity: 0.7;;
}
table {
   margin: auto;
   width: 80% !important;
}
.gollum{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
footer a {
  color: white;
}
/* ---- HOVER ---- */

.card:hover img {
  opacity: 1;
  transition: 0.5s;
}
.aragorn:hover h2 {
  padding-top: 80%;
  transition: 0.5s;
}
.aragorn:hover h4 {
  visibility: hidden;
}
.gandalf:hover h2 {
  padding-top: 80%;
  transition: 0.5s;
}
.gandalf:hover h4 {
  visibility: hidden;
}
.frodo:hover h2 {
  visibility: hidden;
}
